.card {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /* height: 150px; */
  object-fit: cover;
  margin: 10px;
  flex-basis: 15%;
  flex-grow: 1;
  margin-top: 30px;
}
.card > img {
  max-width: 100%;
}
.card p {
  margin-top: -50px;
  font-weight: bold;
  text-align: center;
}
